:root {
  --bg-dark-global: #464646;
  --bg-white-global: #fff;
  --bg-blue-light-global: #0365af;
  --bg-dark-global-lighter: rgba(70, 70, 70, 0.7);
  --white: #fff;
  --black: #000;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-500: #6e6e7b;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;
  --salmon: #f67b72;
  --blue-pool: #8fb8aa;
  --yellow: #f7d05b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-800);
  -webkit-font-smoothing: antialiased;
  color: var(--white);
  outline: 0;
  border: none;
}

body,
h1,
input,
textarea,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

header {
  background: var(--bg-blue-light-global);
}

#container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

#header img {
  height: 2.8rem;
  max-width: 100%;
  padding-right: 0.5rem;
}

#header h1 {
  color: #FFF;
  font-family: 'Signika Negative', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding-left: 0.8rem;
  text-align: center;
  border-left: 1px solid #FFF;
  border-right: 0;
}

#banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 10rem;
}

#banner h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 0.3rem;
  text-align: center;
}

.landing {
  background: url('../assets/bg_lp.jpg');
  background-position: 60%;
}

.bgresources {
  background: url('../assets/bg_pedagogicos.jpg');
  background-position: 80% 30%;
}

.bgguidelines {
  background: url('../assets/bg_visuais.jpg');
  background-position: 80% 30%;
}

.bgconfigs {
  background: url('../assets/bg_parametros.jpg');
  background-position: 80% 30%;
}
main {
  flex: 1;
  background-color: var(--gray-400);
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 2rem;
  background: var(--gray-500);
}

#cards button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--gray-600);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 0.7rem;
  height: 18rem;
  width: 17rem;
  border: solid 0.16rem;
  text-align: center;
}

.card:hover {
  border-color: var(--gray-100);
}

.resource {
  height: 12rem;
  width: 18rem;
}

.green {
  border-color: #d0e070;
}

.blue {
  border-color: #4e8ad1;
}

.cyan {
  border-color: #99e0d4;
}
.card img {
  height: 5rem;
  width: auto;
  margin-bottom: 0.7rem;
}

.card h1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 1rem;
  font-weight: 600;

  margin: 1rem 0 0 0;
}

.card p {
  margin: 0.5rem 0 0 0;
  font-size: 1rem;
  font-weight: 300;
}

.collapsible {
  background: var(--gray-300);
  color: white;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  border-bottom: 1.5px solid var(--gray-700);
  border-right: 0;
  border-top: 0;
  border-left: 0;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.active,
.collapsible:hover {
  background: var(--gray-400);
}

.content {
  padding: 1rem 1rem;
  display: none;
  overflow: hidden;
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-bottom: 1.5px solid var(--gray-700);
}

.content p {
  margin: 0.5rem 0 0 0;
  text-align: justify;
  text-justify: inter-word;
}

#faq {
  background: var(--gray-300);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#faq h1 {
  width: 100%;
  text-align: center;
  background: #8fb8aa;
  padding: 0.6rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Signika Negative', sans-serif;
}

.questions {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

footer {
  height: auto;
  margin-top: auto;
  background-color: var(--bg-blue-light-global);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

#contacts, #logo {
  flex-basis: 50%; 
  flex-grow: 1;
  box-sizing: border-box;
}

#contacts {
  padding: 1rem 1rem;
  text-align: right;
  border-right: 2px solid var(--white);
}

#contacts h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

#contacts p {
  font-size: 1rem;
}
#contacts a {
  color: var(--white);
  text-decoration: none;
}
#logo {
  padding-left: 1rem;

}

#logo img {
  height: 3rem;
  width: auto;
}

@media only screen and (max-width: 976px) {
  #cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
  }

  .card {
    margin: 0.5rem 0.1rem;
  }
}
@media only screen and (max-width: 928px) {
  #faq {
    max-width: 100%;
  }

  #cards {
    flex-direction: column;
    align-items: center;
    padding: 3rem;
  }

  .card {
    margin: 0.5rem 0;
    height: auto;
    /* min-width: 17rem;
    height: 19rem; */
  }

  #logo img {
    margin-bottom: 2rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  footer #contacts {
    border: 0;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
  }
}
